{% extends 'credits/stepper/base.html' %}
{% load static %}
{% block title %}Step Loan Amount Term{% endblock %}
{% block form_step %}
<div class="card-header justify-content-center">
    <h2 class="text-center text-uppercase">Step {{ step_index }}</h2>
</div>
<div class="card-body text-center w-25 mx-auto">
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="form-group mt-3">
            {{ form.loan_amount_term }}
            <label class="form-control-placeholder right-middle" for="loan-amount-term">Loan Amount Term</label>
        </div>
        {% if form.loan_amount_term.errors %}
        <div class="text-danger small text-right">
            {{ form.loan_amount_term.errors.0 }}
        </div>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                Next
            </button>
        </div>
    </form>
</div>
{% endblock %}