{% extends 'auth_base.html' %}
{% load static %}
{% block title %}Login Page{% endblock %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div
                            class="img"
                            style="background-image: url(../../../../static/images/bg-3.jpeg)"
                    ></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4 text-center">Sign In</h3>
                            </div>
                        </div>

                        <form action="{% url 'accounts:login' %}" method="post" class="signin-form">
                            {% csrf_token %}

                            <div class="form-group mt-3">
                                {{ form.email }}
                                <label class="form-control-placeholder" for="email">Email</label>
                            </div>

                            <div class="form-group">
                                {{ form.password }}
                                <label class="form-control-placeholder" for="password-field">Password</label>
                                <span toggle="#password-field"
                                      class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            {% if form.non_field_errors %}
                            <div class="text-danger">
                                {{ form.non_field_errors }}
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                                    Sign In
                                </button>
                            </div>

                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">
                                        Remember Me
                                        {{ form.remember }}
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </form>
                        <p class="text-center mt-3">
                            Not a member? <a href="{% url 'accounts:register' %}">Sign Up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}