{% extends 'credits/base.html' %}
{% load static %}
{% block title %}{{ graph.templates_name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-table-border-none recent-orders" id="recent-orders">
            <div class="card-header justify-content-center">
            </div>
            <div class="card-body pt-0 pb-5 w-75 mx-auto">
                <img src="{{ graph.image_url }}" alt="Chi-square Graph" class="w-100">
            </div>
        </div>
    </div>
</div>
{% endblock %}