{% extends 'credits/base.html' %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated and not request.user.is_superuser %}
<div class="row">
    <div class="col-xl-12 col-md-12">

        <!-- Sales Graph -->
        <div class="card card-default">
            <div class="card-header justify-content-center">
                <h1 class="text-center text-uppercase">Information collection</h1>
            </div>
            <div class="card-body text-center font-size-20">
                <a href="{% url 'credits:make_predict' %}" class="btn btn-primary btn-lg p-3">Get start</a>
            </div>
            <div class="card-footer d-flex flex-wrap bg-white p-0">
                <div class="col-6 px-0">
                    <div class="text-center p-4">
                        <h4>{{ total_credits }}</h4>
                        <p class="mt-2">Total approved orders</p>
                    </div>
                </div>
                <div class="col-6 px-0">
                    <div class="text-center p-4 border-left">
                        <h4>${{ total_amount }}</h4>
                        <p class="mt-2">Total loan amount</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-12">

        <!-- Recent Order Table -->
        <div class="card card-table-border-none recent-orders" id="recent-orders">
            <div class="card-header justify-content-between align-items-center">
                <h2 class="flex-shrink-1">Choices prediction mode </h2>

                <form method="post" class="d-flex flex-direction-row align-items-center justify-content-between">
                    {% csrf_token %}
                    {{ form.active_mode }}
                    <button type="submit" class="btn btn-primary ml-5">Save</button>
                </form>

                <div>Current mode prediction: <strong>{{ config.get_active_mode_display }}</strong></div>
            </div>
            <div class="card-header justify-content-between">
                <h2>Recent Orders</h2>

                <form method="get" class="d-flex align-items-center justify-content-between mw-100 w-25">
                    {{ filter.form.period }}
                    <button type="submit" class="btn btn-primary btn-sm flex-shrink-0 ml-3">Set filter</button>
                </form>
            </div>
            <div class="card-body pt-0 pb-5">
                <table class="table card-table"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User</th>
                        <th class="d-none d-lg-table-cell">Order Date</th>
                        <th class="d-none d-lg-table-cell">Loan amount</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in total_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>
                            <a class="text-dark" href="">{{ order.user.username }}</a>
                        </td>
                        <td class="d-none d-lg-table-cell">{{ order.created_at|date:"Y-m-d H:i" }}</td>
                        <td class="d-none d-lg-table-cell">${{ order.loan_amount }}</td>
                        <td>
                            <span class="badge {% if order.prediction_result %}badge-success{% else %}badge-danger{% endif %}">{% if order.prediction_result %}Completed{% else %}Cancelled{% endif %}</span>
                        </td>
                        <td class="text-right">
                            <div class="dropdown show d-inline-block widget-dropdown">
                                <a class="dropdown-toggle icon-burger-mini" href="" role="button"
                                   id="dropdown-recent-order{{ order.id }}" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                <ul class="dropdown-menu dropdown-menu-right"
                                    aria-labelledby="dropdown-recent-order1">
                                    <li class="dropdown-item">
                                        <a href="#" data-toggle="modal" data-target="#updateModalForm{{ order.id }}">View</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="#" data-toggle="modal"
                                           data-target="#deleteModal{{ order.id }}">Remove</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% include 'credits/includes/modal.html' %}
                    {% empty %}
                    <tr class="text-center">
                        <td class="pt-5" colspan="5">No orders for the selected period</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="pagination justify-content-center">
            <div class="step-links w-50 text-center">
                {% if total_orders.has_previous %}
                <a class="btn btn-primary" href="?{{ params }}&page=1">&laquo; First</a>
                <a class="btn btn-primary"
                   href="?{{ params }}&page={{ total_orders.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current ml-2 mr-2">
                    {% if total_orders.paginator.num_pages > 1 %}
                        Page {{ total_orders.number }}
                    {% else %}

                    {% endif %}
                </span>

                {% if total_orders.has_next %}
                <a class="btn btn-primary" href="?{{ params }}&page={{ total_orders.next_page_number }}">Next</a>
                <a class="btn btn-primary" href="?{{ params }}&page={{ total_orders.paginator.num_pages }}">Last&raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}